body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, Sans-Serif;
    padding: 0%;
    margin: 0%;
}

img { width: 300px; }

a { 
    text-decoration: none;
    color: inherit;
}

/* top of header */
nav {
    display: flex;
    align-items: center;
    gap: 368px;
}

/* header links */
ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 5px;
}

/* contains .logo,.banner,ul */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo { font-size: 24px; }

/* contains .description,img */
.banner {
    display: flex;
    margin-bottom: 75px;
    width: 690px;
}
.banner h1 {
    font-weight: bolder;
    margin: 0;
}

.description { padding-right: 10px; }

/* contains .slide,.quote,.action */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide {
    display: flex;
    justify-content: space-evenly;
    width: 690px;
    margin-bottom: 50px;
}
.slide div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50px;
}

.quoteBackground {
    background-color: #E5E7EB;
    width: 100%;
    margin-bottom: 50px;
    color: #1F2937;

}

.quote {
    display: flex;
    flex-basis: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    /* centers quote */
    margin: auto;
    padding: 50px;
}
.quote p {
    font-style: italic;
    font-size: 36px;
    margin: 0px 0px 10px 0px;
}

.signature {
    align-self: flex-end;
    font-weight: bold;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    color:#E5E7EB;
    padding: 0px 40px;
    margin-bottom: 50px;
    width: 620px;
    height: 100px;
}
.action h3 { margin: 0; }


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px;
}

/* sign up button */
.sign_up {
    border-radius: 3px;
    border: 1px;
    padding: 4px 12px;
    background-color: #3882F6;
    color: #F9FAF8;
}

/* creates rounded divs */
.roundCorners {
    border-radius: 10px;
    border: 2px solid #3882F6;
    padding: 20px;
    width: 50px;
    height: 50px;
}